body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.control-buttons{
    position: fixed;
    left: 80%;
    bottom: 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.button__link{
    width: 100px;
    margin: 10% 0;
    background-color: #E3B873;
}

@media (max-width: 376px){
    .button__link-desktop{
        display: none;
    }
}